.button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #e64747);
  filter:         drop-shadow(5px 5px 5px #e64747); 
  transform: translateY(-7px);
  -webkit-transform: translateY(-7px);
}